:root{
    --textcolor: #307cff;
    --win-color: #309bff;
    --counter-color: #00d5ff;

}
#topbar{
    color: var(--textcolor);
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(39, 39, 39);
    height: 100px;
    width: 100%;
    padding: 0;
}
.topthing{
    font-size: 70px;
    color: var(--textcolor);
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(39, 39, 39);
    height: 100px;
    display: block;
    top: 0;
    margin: 0;
    padding: 5px 20px 0 20px;
    border-radius: 0 0 0 20px;
}
.topthing>span{
    font-size: 50px;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0e0e0e;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#rocket{
    position: absolute;
    width: 100px;
    z-index: 100;
    transform: translate(-50%, 50%);
}
#finish{
    transform: translate(-50%, 50%);
    position: absolute;
    width: 20px;
    height: 100px;
    z-index: 99;
    background-image: linear-gradient(black 50%, white 50%), linear-gradient(white 50%, black 50%);
    background-size: 50% 20px;
    background-repeat: repeat-y;
    background-position: right, left;
}
.dot{
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
    background-color: white;
}
/*#source{
    position: absolute;
    left: 500px;
    bottom: 590px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
}*/
.planet{
    z-index: 2;
    position: absolute;
    height: 80px;
    width: 80px;
    margin-bottom: -40px;
    margin-left: -40px;
    background-color: rgb(255, 111, 0);
    background-image: linear-gradient(350deg, transparent 40%, #fff4 40%, #fff4 70%, transparent 70%);
    border-radius: 100%;
}
.star{
    z-index: 2;
    position: absolute;
    height: 100px;
    width: 100px;
    margin-bottom: -50px;
    margin-left: -50px;
    background-color: #fff;
    box-shadow: 0 0 20px white;
    border-radius: 100%;
}
.blackHole{
    z-index: 2;
    position: absolute;
    height: 100px;
    width: 100px;
    margin-bottom: -50px;
    margin-left: -50px;
    background-color: #000;
    box-shadow: 0 0 20px #000;
    border-radius: 100%;
}
#infoboard{
    display: none;
    font-family: monospace;
    font-size: 70px;
    text-align: center;
    position: fixed;
    z-index: 1000;
    background-color: #000d;
    min-width: 100px;
    min-height: 100px;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    color: white;
    padding: 30px;
    border-radius: 40px;
    animation: slideIn 0.5s ease-out 1s forwards;
    opacity: 0;
}
#infoboard h3, h4{
    margin: 0;
}
.wall{
    z-index: 1;
    position: absolute;
    background-color: #db4d19;
}
#winscreen{
    display: none;
    --color: #ffc400;
    z-index: 2000;
    width: 400px;
    height: 300px;
    top: 10vh;
    box-shadow: 0 0 0 100vmax #0009, 0 0 0 100vmax #000b inset;
    position: relative;
    margin: auto;
    --inset: 80px;
    --thickness: 30px;
    padding: var(--inset);
    backdrop-filter: blur(5px);
    color: #fff;
}
#winscreen::before{
    content: "";
    background-color: var(--win-color);
    position: absolute;
    inset: 0;
    clip-path: polygon(
        0% var(--inset),
        var(--inset) 0%,
        100% 0%,
        100% calc(100% - var(--inset)),
        calc(100% - var(--inset)) 100%,
        0% 100%,
        0% calc(100% - var(--thickness)),
        var(--thickness) calc(100% - var(--thickness) *2),
        var(--thickness) calc(100% - var(--thickness)),
        calc(100% - var(--inset)) calc(100% - var(--thickness)),
        calc(100% - var(--thickness)) calc(100% - var(--inset)),
        calc(100% - var(--thickness)) var(--thickness),
        var(--inset) var(--thickness),
        var(--thickness) var(--inset),
        var(--thickness)  calc(100% - var(--thickness) * 3),
        0% calc(100% - var(--thickness) * 2)
    );
}
.winTitle{
    width: 100%;
}
.displayTime{
    display: grid;
    grid-template-columns: 4fr 4fr 1fr 4fr 4fr;
    gap: 10px;
    width:max-content;
    margin: 10px auto;
}
.displayDigit{
   height: 60px;
}
.winMenu{
    position: absolute;
    bottom: var(--inset);
    left: var(--inset);
    right: var(--inset);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.winMenu button{
    font-size: 60px;
    background-color: transparent;
    color: var(--win-color);
    font-weight: 900;
    padding: 10px;
    border: 10px solid var(--win-color);
    transform: skew( -20deg, 0);
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    transition: color 0.2s, box-shadow 0.2s, inset 0.2s;
}
.winMenu button:not(.disabledButton):hover{
    top: -20px;
    right: -7px;
    color: #00d5ff;
    box-shadow: inset 0 0 50px 0 var(--textcolor);
}
.disabledButton{
    cursor: default;
}
@keyframes slideIn {
    from{opacity: 0;}
    to{opacity: 1;}
}